.not-found{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found h1{
    font-size: 100px;
    
}

.not-found a{
    margin-top: 10px;
    text-decoration: none;
    background-color:rgb(255, 0, 85);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.3s;
}

.not-found a:hover{
    border: 2px solid #8c00ff;
    color: #000000;
}